.containerlogin {
    border: 1px solid red;
    position: relative;
}



body {
    background-image: url(img/ChatGPT\ Image\ 5_02_2026\,\ 21_56_35.png);
    background-size: cover;
    margin: 0;
    padding: 0;
}

main {
    padding:5% 5%;
    display: flex;
    height: 80vh;
}

.containerindex {
    box-sizing: border-box;
    color: white;
    background-color: black;
    padding: 10px 20px;
    height : 30%;
    width: 25%;
    position: relative;
}

.containerindex input{
    border: none;
    height: 50px;
    width: 70%;
    font-size: 20px;
}

.containerindex input:focus{
    outline: none;
}

.containerindex button{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    border: none;
    height: 50px;
}

.containerindex button:hover{
    cursor: pointer;
}

.formulariologin input {
    display: block;
    margin-bottom: 10px;
}

.navegacao button{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    transition: 0.3s ease;
}

.navegacao button:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.fotochat { 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.containermensagens {
    box-sizing: border-box;
    color: white;
    background-color: black;
    padding: 10px 0px;
    height : 80%;
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    justify-items: center;
}

.dummychatcard {
    width: 90%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.campomensagens {
    position: relative;
    display: flex;
    padding: 10px 10px;
    border: 1px solid red;
    margin: 15px;
    width: 90%;
    height: 65%;
    overflow-y: auto;
    gap: 10px;
    flex-direction: column;
}

.display_mensagemrecebida {
    align-self: flex-start;
    max-width: 50%;
    background-color: white;
    color: black;
    word-wrap: break-word;
    padding: 0px 7px;   
}

.display_mensagemenviada {
    align-self: flex-end;
    max-width: 50%;
    background-color: gray;
    color: black;
    padding: 0px 7px;
    word-wrap: break-word;
}

.dummypedido {
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.dummyamigo {
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#amigos {
    display: none;
}

.acoes{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.containerpedidos button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 37px;
}

.imgperfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.containerpedidos {
    box-sizing: border-box;
    color: white;
    background-color: black;
    padding: 10px 20px;
    height : 50%;
    width: 50%;
    position: relative;
    overflow-y: auto;
}

#pedidos {
    display: none;
}

.mainpedidos {
    border: 1px solid blue;
}

.mainpedidos div {
    margin-left: 20px;
}

.navegacao {
    background-color: black;
    padding: 10px;   
}

.navegacao a{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
}

.containerlistaamigos {
    box-sizing: border-box;
    color: white;
    background-color: black;
    padding: 20px 20px;
    height : 30%;
    width: 40%;
    position: relative;
    overflow: auto;
}

.navegacao a:hover {
    transform : scale(1.1);
}

header {
    color: white;
    padding : 2%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;

}

html {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}