<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Login - CASARÃO</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>


  <div class="main-content">
    <a href="login.html" class="logo">CASARÃO</a>
    <div class="login-side">
      <div class="login-container">
        <h1>Iniciar Sessão</h1>
        <form action="confirmar.html" method="post">
          <input type="name" name="name" id="name" placeholder="Username" required>
          <input type="email" name="email" id="email" placeholder="Email" required>
          <button type="submit">Seguinte</button>
        </form>
        <div class="link">
          <p><a href="login.html">Ir para o login</a></p>
        </div>
      </div>
    </div>
    <div class="image-side" style="background-image: url('img/CASA.jpg')"></div>
  </div>

</body>
</html>

